<aside class="sidebar bg-gray d-flex vh-100 flex-column">
    <div class="m-4">
        <a href="../pages/index.html"><img src="../assets/images/logo-ANSWER.svg" alt=""></a>
    </div>
    <nav class="nav flex-column ps-4 pt-1">
        <a class="nav-link active d-flex px-2" aria-current="page" href="../pages/index.html">
            <span class="material-symbols-outlined pe-3">insert_chart</span>
            <p>Dashboard</p>
        </a>
        <a class="nav-link active d-flex px-2" aria-current="page" href="../pages/index.html">
            <span class="material-symbols-outlined pe-3">forum</span>
            <p>Question</p>
        </a>
        <a class="nav-link active d-flex px-2" aria-current="page" href="#">
            <span class="material-symbols-outlined pe-3">assignment</span>
            <p>Assignment</p>
        </a>
        <a class="nav-link active d-flex px-2" aria-current="page" href="#">
            <span class="material-symbols-outlined pe-3">video_library</span>
            <p>Course</p>
        </a>
        <a class="nav-link active d-flex px-2" aria-current="page" href="#">
            <span class="material-symbols-outlined pe-3">supervisor_account</span>
            <p>Admin</p>
        </a>
        <a class="nav-link active d-flex px-2" aria-current="page" href="#">
            <span class="material-symbols-outlined pe-3">settings</span>
            <p>Settings</p>
        </a>
    </nav>
    <div class="mt-auto">
        <div><img src="" alt=""></div>
        <div>
            <p>Andy Chen</p>
            <p>andy0401@mail.com</p>
        </div>
    </div>
</aside>