.sidebar{
    width: 296px;
    background: #F8F9FA;
    .nav{
        --bs-nav-link-color: #198754;
        --bs-nav-link-hover-color: #198754;
        color: #198754;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 4px;
            height: 32px;
            border-left: 4px solid #198754;
        }
        &::after {
            content: '';
            color: #198754;
            position: absolute;
            left: 0;
            width: 4px;
            height: 32px;
            border-left: 4px solid #198754;
        }
        &-link{
            color : black;
        }
    }
}